.Navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: #596365;
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: #000;
}

.Navs a {
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: #596365;
}

.Navs a:hover {
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: #000;
}

#Nav1 {
  padding-right: 20px;
  border: azure;
  border-style: groove;
}
#Nav2 {
  padding-right: 20px;
  border: azure;
  border-style: groove;
}
#Nav3 {
  padding-right: 20px;
  border: azure;
  border-style: groove;
}
#Nav4 {
  padding-right: 20px;
  border: azure;
  border-style: groove;
}

#SearchBar {
  margin-top: 10px;
}

#LogOut {
  margin: 10px;
}
