#CreatedAt {
  font-size: 12px;
}
.ArticleVotes {
  text-align: center;
  margin-top: 0em;
  padding: 10px;
}

.VoteButton {
  font-size: 30px;
}

.sortBy {
  margin-top: 3%;
}

.articlesPage {
  display: inline;
  padding-left: 100em;
}

.mostVotes {
  margin-top: 5%;
}

.mostComments {
  margin-top: 5%;
}

.mostVotesBody {
  margin-top: 0%;
}

.sections {
  display: flex;

  margin-top: 10%;
  width: 30em;
  background-color: aliceblue;
}

.Article {
  display: flex;
  flex-direction: column;
  margin-top: -0em;
  align-items: center;
  width: 100%;
}

body {
  margin: 0;
}

.link {
  color: black;
  background-color: rgba(173, 216, 230, 0.452);
}

.commentlink {
  color: black;
  text-decoration: underline;
}

.singleArticleLink {
  color: black;
  text-decoration: underline;
}

.card-header {
  color: black;
}

.articlesTitle {
  margin-right: 0em;
}
