#CreatedAt {
  font-size: 12px;
}
.ArticleVotes {
  text-align: center;
  margin-top: 0em;
  padding: 10px;
}

.VoteButton {
  font-size: 30px;
}

.sortBy {
  margin-top: 2%;
}

.articlesPage {
  margin-top: 3%;
}

.mostVotes {
  margin-top: 5%;
}

.mostComments {
  margin-top: 5%;
}

.mostVotesBody {
  margin-top: 0%;
}
