.NoUser {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 8em;
}

#commentPage {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.commentsList {
  margin-top: 5%;
}

/* #sortAndComment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

ul,
ol {
  padding-left: 0;
}

.justify-content-md-center {
  margin-top: 3%;
}
