#Nav1 {
  padding-right: 20px;
}
#Nav2 {
  padding-right: 20px;
}
#Nav3 {
  padding-right: 20px;
}
#Nav4 {
  padding-right: 20px;
}

#Title {
  display: flex;
  position: absolute;
  align-self: center;
}
#Header {
  margin-top: 5%;
}

.usersPic {
  width: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 100%;
}

.LogInBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
