#Header {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.LogInBox {
  padding-right: 0%;
}

.NavBar {
  float: left;
  display: flex;
  justify-content: space-between;
}

.nav-dropdown {
  padding-left: 3em;
  background-color: white;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#Nav1 {
  padding-left: 3em;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#Nav2 {
  padding-left: 3em;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.usersPic {
  width: 3em;
  height: 3em;
  margin-left: 1em;
  float: left;
}

.Logout {
  margin-top: 2%;
  float: right;
}

.navbar-brand {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 200;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 15px;
}
