#Nav1 {
  padding-right: 20px;
}
#Nav2 {
  padding-right: 20px;
}
#Nav3 {
  padding-right: 20px;
}
#Nav4 {
  padding-right: 20px;
}

#Title {
  display: flex;
  position: absolute;
  align-self: center;
  font-size: 4em;
}
#Header {
  margin-top: 5%;
}

.usersPic {
  width: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 100%;
}

ul,
ol {
  padding-left: 0;
}
.LogInBox {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  float: right;
}

.navBar {
  margin-right: 12%;
}

.navItems {
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
